$text: #fff;
$diamond: #b9f2ff;
$gold: #ffd700;

$charcoal: #373f51;
$red: #7d1538;
$yellow: #dacc3e;
$terracotta: #e2725b;
$emerald: #50c878;
$brickRed: #cb4154;
$sandstone: #d8bf8d;
$seaBlue: #006994;
$volcanicGrey: #4b4e53;
$azure: #007fff;
$mediterraneanGreen: #3eb489;
$sunsetOrange: #fd5e53;
$oceanBlue: #1e90ff;
$skyBlue: #87ceeb;
$beachSand: #f4a460;
